.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(61, 61, 61, 0.48);
}

.close-icon {
  cursor: pointer;
  position: absolute;
  width: 30px;
  right: 55px;
  top: 48px;
}

.modal-content {
  border-radius: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #ffffff;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
