.container-resumo {
  width: 210px;
  height: 190px;
  background: #fafafa;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 26px 33px;
}

.container-resumo div {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.in {
  color: #645ffb;
}

.out {
  color: red;
}

.balance {
  color: #3a9ff1;
}
